{% load django_htmx %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ _('King Tiger Black Belt Cycle') }}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" sizes="32x32">
    <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="{% if page_background %}{{ page_background }}{% else %}bg-body-tertiary{% endif %}" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
{% include 'header.html' %}
<main class="container">
    {% block content %}{% endblock content %}
</main>
<script src="{% static 'js/color-modes.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
{% htmx_script %}
</body>
</html>
