{% extends "_layout/base.html" %}

{% block content %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">{{ _('System Temporarily Unavailable') }}</h1>
            <div class="d-block mx-auto mb-4">
                <p class="lead mb-4">{{ _('The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.') }}</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                        {{ _('Home') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
