{% load crispy_forms_tags %}
{% load core_filters %}
{% load i18n %}
{% if form %}
<form id="tracking-editor-form" class="form-floating modal-content"
      hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
    <div class="modal-header">
        <h1 class="modal-title fs-5"
            id="tracking-{{ form.fields.tracking_date|date:'Y-m-d' }}-editor-label">
            {{ form.tracking_date|date }}
        </h1>
        <span><small>{{ form.tracking_date|date }}</small></span>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close">
        </button>
    </div>
    <div class="modal-body" id="tracking-{{ form.fields.tracking_date|date:'Y-m-d' }}-editor-body">
        {% csrf_token %}
        {% crispy form %}
    </div>
    <div class="modal-footer">

    </div>
</form>
{% endif %}
