{% extends "_layout/base.html" %}
{% load core_filters %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center p-3 my-3 rounded shadow-sm">
        <div class="">
            <div class="text-center">
                <h1 class="d-block h3 mb-0" style="font-variant: small-caps;">{{ cycle.title | upper }}
                    &mdash; {% format _('Week %(week)s') week=tracking_week.week|cycle_week|format_number %}</h1>
            </div>
            <div class="d-flex align-items-center justify-content-between mx-3">
                <small style="font-variant: all-small-caps;">{{ _('%(weeks)s Weeks') format(weeks=cycle.cycle_weeks | format_number) }}</small>
                &nbsp; | &nbsp;
                <small style="font-variant: all-small-caps;">{{ cycle.cycle_start | format_date(format='long') }}
                    &ndash; {{ cycle.cycle_end | format_date(format='long') }}</small> &nbsp; | &nbsp;
                <small style="font-variant: all-small-caps;">{{ _('%(days)s Days') | format(days=(cycle.cycle_weeks * 7) | format_number) }}</small>
            </div>
            <div class="d-flex align-items-center justify-content-center mx-3">
                <strong style="font-variant: all-small-caps;">{{ candidate.user.display_name }}</strong>
            </div>
        </div>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>
                    <a class="btn btn-primary" role="button"
                       href="{{ url_for('get_tracking').include_query_params(week=tracking_week.week - 1) }}"
                       title="{{ _('Week %(week)s') | format(week=(tracking_week.week - 1) | cycle_week | format_number) }}">
                        <i class="bi bi-calendar-range"></i>
                        {{ (tracking_week.week - 1) | cycle_week | format_number }}
                    </a>
                </td>
                {% for tracking in tracking_data %}
                    <td class="{{ 'table-info' if tracking.tracking_date == today else loop.cycle('bg-body-tertiary', '') }}">
                        <div class="media align-items-center justify-content-between">
                            <div class="text-center">
                                <strong class="text-center">{{ _('DAY %(day)s') | format(day=tracking_week.days[loop.index0] | cycle_day | format_number) }}</strong>
                            </div>
                            <span class="d-block text-center"><small
                                    class="fw-{{ 'bold' if tracking.tracking_date == today else 'normal' }}"
                                    style="font-variant: all-small-caps;">{{ tracking.tracking_date | format_date(format='EEEE') }}</small></span>
                            <span class="d-block text-center"><small
                                    class="fw-{{ 'bold' if tracking.tracking_date == today else 'normal' }}">{{ tracking.tracking_date | format_date(format='short') }}</small></span>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#{{ 'tracking-' ~ tracking.tracking_date | format_date(format='Y-M-d') ~ '-modal' }}">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <div class="modal fade"
                                 id="{{ 'tracking-' ~ tracking.tracking_date | format_date(format='Y-M-d') ~ '-modal' }}"
                                 data-bs-backdrop="static"
                                 data-bs-keyboard="false"
                                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5"
                                                id="staticBackdropLabel">{{ tracking.tracking_date | format_date(format='long') }}</h1>
                                            <span><small>{{ tracking.tracking_date | format_date(format='EEEE') }}</small></span>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {% with tracking=tracking %}
                                                {% include 'tracking/edit.html' %}
                                            {% endwith %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary"
                                                    form="{{ 'tracking-' ~ tracking.tracking_date | format_date(format='Y-M-d') ~ '-form' }}">
                                                Understood
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                {% endfor %}
                <td></td>
                <td>
                    <a class="btn btn-primary" role="button"
                       href="{{ url_for('get_tracking').include_query_params(week=tracking_week.week + 1) }}"
                       title="{{ _('Week %(week)s') | format(week=(tracking_week.week + 1) | cycle_week | format_number) }}">
                        <i class="bi bi-calendar-range"></i>
                        {{ (tracking_week.week + 1) | cycle_week | format_number }}
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for name, title in TRACKING_NAMES.items() %}
                {% if cycle[name] > 0 %}
                    <tr>
                        <td>{{ title }}</td>
                        {% for tracking in tracking_data %}
                            {% if name.startswith('class_') %}
                                <td class="fw-{{ 'bold table-info' if tracking.tracking_date == today else loop.cycle('normal bg-body-tertiary', 'normal') }} text-end"
                                    data-bs-toggle="modal"
                                    data-bs-target="#{{ 'tracking-' ~ tracking.tracking_date | format_date(format='Y-M-d') ~ '-modal' }}">
                                    <i
                                            class="{{ '' if tracking['tracking_date'] is not available(name) else 'bi bi-' ~ ['x-lg', 'check-lg'][tracking[name]] }}"></i>
                                </td>
                            {% else %}
                                <td class="fw-{{ 'bold table-info' if tracking.tracking_date == today else loop.cycle('normal bg-body-tertiary', 'normal') }} text-end"
                                    data-bs-toggle="modal"
                                    data-bs-target="#{{ 'tracking-' ~ tracking.tracking_date | format_date(format='Y-M-d') ~ '-modal' }}">{{ tracking[name] | format_number }}</td>
                            {% endif %}
                        {% endfor %}
                        <td class="text-end">
                            <div>
                                <div>
                                    <span>{{ totals[name] | format_number }}</span>
                                </div>
                                <span class="d-block"><small>{{ cycle[name] | format_number }}</small></span>
                            </div>
                        </td>
                        <td>
                            <svg class="ProgressCircle" viewBox="0 0 32 32" style="height: 50px; width: 50px;">
                                <circle class="ProgressCircle" r="16" cx="16" cy="16"
                                        style="{{ 'stroke-dasharray: ' ~ statistics[name] | percent ~ ' 100; stroke: ' ~ statistics[name] | pct_color ~ ';' }}">
                                </circle>
                            </svg>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
