{% extends "base.html" %}
{% load core_filters %}
{% load i18n %}
{% block content %}
<div class="d-flex align-items-center justify-content-center p-3 my-3 rounded shadow-sm">
    <div class="">
        <div class="text-center">
            <h1 class="d-block h3 mb-0" style="font-variant: small-caps;">{{ cycle.title|upper }}
                &mdash; {% blocktrans with week=tracking_week.week|cycle_week %}Week {{ week }}{% endblocktrans %}</h1>
        </div>
        <div class="d-flex align-items-center justify-content-between mx-3">
            <small style="font-variant: all-small-caps;">{% blocktrans with weeks=cycle.cycle_weeks %}{{ weeks }}
                Weeks{% endblocktrans %}
            </small>
            &nbsp; | &nbsp;
            <small style="font-variant: all-small-caps;">{{ cycle.cycle_start|date:'LONG_DATE_FORMAT' }}
                &ndash; {{ cycle.cycle_end|date:'LONG_DATE_FORMAT' }}
            </small>
            &nbsp; | &nbsp;
            <small style="font-variant: all-small-caps;">
                {% blocktrans with days=cycle.cycle_weeks|mul:7|floatformat:0 %}{{ days }} Days{% endblocktrans %}
            </small>
        </div>
        <div class="d-flex align-items-center justify-content-center mx-3">
            <strong style="font-variant: all-small-caps;">{{ candidate.user.first_name }} {{ candidate.user.last_name }}</strong>
            {% if user.is_staff or user.is_superuser %}
            &nbsp;
            <i class="bi bi-circle text-success"></i>
            {% endif %}
        </div>
    </div>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>
                <a class="btn btn-primary" role="button"
                   href="{% url 'tracking:index' %}{% querystring week=tracking_week.week|sub:1|floatformat:0 %}"
                   title="{% blocktrans with week=tracking_week.week|sub:1|cycle_week %}Week {{ week }}{% endblocktrans %}">
                    <i class="bi bi-calendar-range"></i>
                    {{ tracking_week.week|sub:1|cycle_week }}
                </a>
            </td>
            {% for tracking in tracking_data %}
            {% cycle 'bg-body-tertiary' '' as bg_color silent %}
            <td class="{% if tracking.tracking_date == today %}table-info{% else %}{{ bg_color }}{% endif %}"
                data-bs-toggle="modal"
                data-bs-target="#tracking-editor-modal"
                hx-get="{% url 'tracking:editor' %}{% querystring trackingDate=tracking.tracking_date|date:'Y-m-d' %}"
                hx-target="#tracking-editor"
                hx-swap="innerHTML">
                <div class="media align-items-center justify-content-between">
                    <div class="text-center">
                        <strong class="text-center">
                            {% blocktrans with day=tracking_week.days|index:forloop.counter0|cycle_day %}DAY {{ day }}{% endblocktrans %}
                        </strong>
                    </div>
                    <span class="d-block text-center">
                        <small class="fw-{% if tracking.tracking_date == today %}bold{% else %}normal{% endif %}"
                               style="font-variant: all-small-caps;">
                            {{ tracking.tracking_date|date:'l' }}
                        </small>
                    </span>
                    <span class="d-block text-center">
                        <small class="fw-{% if tracking.tracking_date == today %}bold{% else %}normal{% endif %}">
                            {{ tracking.tracking_date|date:'SHORT_DATE_FORMAT' }}
                        </small>
                    </span>
                </div>
            </td>
            {% endfor %}
            {% resetcycle %}
            <td></td>
            <td>
                <a class="btn btn-primary" role="button"
                   href="{% url 'tracking:index' %}{% querystring week=tracking_week.week|add:1|floatformat:0 %}"
                   title="{% blocktrans with week=tracking_week.week|add:1|cycle_week %}Week {{ week }}{% endblocktrans %}">
                    <i class="bi bi-calendar-range"></i>
                    {{ tracking_week.week|add:1|cycle_week }}
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        {% for name, title in TRACKING_NAMES.items %}
        {% if cycle|keyof:name > 0 %}
        <tr>
            <td>
                {{ title }}
                <div class="progress" role="progressbar" aria-valuenow="{{ statistics|keyof:name|pct|floatformat:0 }}"
                     aria-valuemin="0" aria-valuemax="100" style="height: 4px">
                    <div class="progress-bar"
                         style="width:{{ statistics|keyof:name|pct|floatformat:0 }}%; background-color:{{ statistics|keyof:name|pct_color }};">
                    </div>
                </div>
                <sup class="font-variant: all-small-caps; text-muted">
                    {% blocktrans with progress=statistics|keyof:name|percent|floatformat:2 actual=totals|keyof:name|floatformat:-2 goal=cycle|keyof:name|div:cycle.cycle_weeks|floatformat:-2 %}
                        Week {{ progress }}% ({{ actual }} / {{ goal }})
                    {% endblocktrans %}
                </sup>
            </td>
            {% for tracking in tracking_data %}
            {% cycle 'normal bg-body-tertiary' 'normal' as bg_color silent %}
            <td class="fw-{% if tracking.tracking_date == today %}bold table-info{% else %}{{ bg_color }}{% endif %} text-end"
                data-bs-toggle="modal"
                data-bs-target="#tracking-editor-modal"
                hx-get="{% url 'tracking:editor' %}{% querystring trackingDate=tracking.tracking_date|date:'Y-m-d' %}"
                hx-target="#tracking-editor"
                hx-swap="innerHTML">
            {% if name|slice:':6' == 'class_' %}
                <i class="{% if tracking|keyof:'tracking_date'|available:name %}bi bi-{% if tracking|keyof:name > 0 %}check-lg{% else %}x-lg{% endif %}{% endif %}"></i>
            {% else %}
                {{ tracking|keyof:name|default:0 }}
            {% endif %}
            </td>
            {% endfor %}
            {% resetcycle %}
            <td class="text-end">
                <div>
                    <div>
                        <span>{{ cycle_statistics.totals|keyof:name }}</span>
                    </div>
                    <span class="d-block"><small>{{ cycle|keyof:name }}</small></span>
                </div>
            </td>
            <td>
                <svg class="ProgressCircle" viewBox="0 0 32 32" style="height: 50px; width: 50px;">
                    <title>
                        {% blocktrans with progress=cycle_statistics.statistics|keyof:name|percent|floatformat:2 %}
                            Overall {{ progress }}%
                        {% endblocktrans %}
                    </title>
                    <circle class="ProgressCircle" r="16" cx="16" cy="16"
                            style="stroke-dasharray:{{ cycle_statistics.statistics|keyof:name|pct|floatformat:0 }} 100; stroke:{{ cycle_statistics.statistics|keyof:name|pct_color }};">
                    </circle>
                </svg>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <div class="modal fade"
         id="tracking-editor-modal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="tracking-editor-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="tracking-editor">
            {% include 'tracking/editor.html' %}
        </div>
    </div>
</div>
<script>
  function closeModal(event) {
    // Check if the request was successful (e.g., HTTP status 2xx)
    if (event.detail.xhr.status >= 200 && event.detail.xhr.status < 300) {
      // Get the modal element
      var myModalEl = document.getElementById('tracking-editor-modal');
      // Get the Bootstrap modal instance
      var modal = bootstrap.Modal.getInstance(myModalEl);
      // Hide the modal
      modal.hide();

      // Optional: Clear modal content after it's hidden to prevent stale data
      myModalEl.addEventListener('hidden.bs.modal', function (e) {
        document.getElementById('tracking-editor').innerHTML = '';
      }, {once: true}); // Use {once: true} to ensure the event listener runs only once
    }
  }
</script>
{% endblock %}
