{% load static %}
{% load core_filters %}
<nav class="navbar navbar-expand-lg sticky-top bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
                aria-controls="navbar-toggler" aria-expanded="false" aria-label="{{ _('Toggle navigation') }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggler">
            <a class="navbar-brand" href="/">
                <img src="{% static '/images/ktb-logo-dark.png' %}" alt="" width="auto" height="50"
                     class="d-inline-block align-text-middle">
                {{ _('Black Belt Cycle') }}
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{% path_active '/log' emit=' disabled' %}{% path_active '' '/' %}" aria-current="page"
                       href="/">{{ _('Home') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% path_active '/log' emit=' disabled' %}{% path_active '/tracking' %}" {% path_active '/log' emit='aria-disabled="true"' %}
                       href="/tracking">{{ _('Tracking') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% path_active '/log' emit=' disabled' %}{% path_active '/admin' %} d-none d-lg-block" {% path_active '/log' emit='aria-disabled="true"' %}
                       href="/admin">
                        {{ _('Admin') }}
                    </a>
                    <a class="nav-link dropdown-toggle{% path_active '/log' emit=' disabled' %}{% if request.url.path|slice:6 == '/admin' %} active{% endif %} d-block d-lg-none" {% path_active '/log' emit='aria-disabled="true"' %}
                       href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ _('Admin') }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item{% path_active '/log' emit=' disabled' %}{% path_active '/admin' '/admin/' %}" {% path_active '/log' emit='aria-disabled="true"' %}
                               href="/admin">{{ _('Dashboard') }}</a></li>
                        <li><a class="dropdown-item{% path_active '/log' emit=' disabled' %}{% path_active '/admin' %}" {% path_active '/log' emit='aria-disabled="true"' %}
                               href="/admin/cycles">{{ _('Cycles') }}</a></li>
                        <li><a class="dropdown-item{% path_active '/log' emit=' disabled' %}{% path_active '/admin' %}" {% path_active '/log' emit='aria-disabled="true"' %}
                               href="/admin/candidates">{{ _('Candidates') }}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            {% include '_layout/color-modes.html' %}
            <a class="" href="/log{% if not is_authenticated %}in{% else %}out{% endif %}?next_url={{ request.path|escape }}">
                <button class="btn btn-outline-{% if not is_authenticated %}success{% else %}danger{% endif %}{% path_active '/log' emit=' d-none' %}" type="submit">
                    {% if not is_authenticated %}{{ _('Login') }}{% else %}{{ _('Logout') }}{% endif %}
                </button>
            </a>
        </div>

    </div>
</nav>

<nav class="navbar navbar-expand-lg sticky-top bg-dark border-bottom border-body d-none{% path_active '/admin' emit=' d-lg-block' %}"
     data-bs-theme="dark">
    <div class="container-fluid">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">{{ _('Administration') }}</span>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link{% path_active '/admin' '/admin/' %}"
                   aria-current="page"
                   href="/admin">{{ _('Dashboard') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% path_active '/admin/cycles' %}"
                   href="/admin/cycles">{{ _('Cycles') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% path_active '/admin/candidates' %}"
                   href="/admin/candidates">{{ _('Candidates') }}</a>
            </li>
        </ul>
    </div>
</nav>
