{% load crispy_forms_tags %}
{% load ktbtracker_tags %}
{% load i18n %}
{% if form %}
<form id="tracking-editor-form" class="form-floating modal-content"
      hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
    <div class="modal-header justify-content-start">
        <h2 class="h2 modal-title" style="font-variant: small-caps;">{{ cycle.title|upper }}
            &mdash; {% blocktrans %}Day {{ cycle_day }}{% endblocktrans %}
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close')"></button>
    </div>
    <div class="modal-body" id="tracking-editor-body">
        <div class="p-6">
        <div>
            <h3 class="d-block h3" style="font-variant: small-caps;">{{ candidate.user.first_name }} {{ candidate.user.last_name }}</h3>
            <h5 class="d-block h5">{{ tracking_date|date:'FULL_DATE_FORMAT' }}</h5>
        </div>
        </div>
        {% csrf_token %}
        {% crispy form %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Cancel') }}</button>
        <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
    </div>
</form>
{% endif %}
