{% extends "base.html" %}
{% load ktbtracker_tags %}
{% load i18n %}
{% block content %}
<div id="tracking-container">
    <div id="tracking-list-container"
         data-hx-trigger="load, trackingListChanged from:body"
         data-hx-get="{% url 'tracking-list' %}{% querystring week=tracking_week.week|cycle_week|floatformat:0 %}"
         data-hx-target="this">
    </div>
    <div id="tracking-editor-modal"
         class="modal fade"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="tracking-editor-label"
         aria-hidden="true">
        <div id="tracking-editor-dialog"
             class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            {% include 'tracking/editor.html' %}
        </div>
    </div>
</div>
<script>
    document.body.addEventListener("closeEditor", function() {
        console.log(`'closeEditor' event!`);
        // Get the modal element
        var myModalEl = document.getElementById('tracking-editor-modal');
        // Get the Bootstrap modal instance
        var modal = bootstrap.Modal.getInstance(myModalEl);
        // Hide the modal
        if (modal) modal.hide();
    });

    function closeModal(event) {
        // Check if the request was successful (e.g., HTTP status 2xx)
        console.log(`event: ${JSON.stringify(event)}`);
        if (event.detail.successful) {
            // Get the modal element
            var myModalEl = document.getElementById('tracking-editor-modal');
            // Get the Bootstrap modal instance
            var modal = bootstrap.Modal.getInstance(myModalEl);
            // Hide the modal
            modal.hide();

            // Optional: Clear modal content after it's hidden to prevent stale data
            myModalEl.addEventListener('hidden.bs.modal', function (e) {
                document.getElementById('tracking-editor-modal').innerHTML = '';
            }, {once: true}); // Use {once: true} to ensure the event listener runs only once
        }
    };
</script>
<script type="module">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}
