<form class="form-floating">
    {% for name, title in TRACKING_NAMES.items() %}
        {% if cycle[name] > 0 %}
            {% if name.startswith('class_') %}
                <div class="form-floating mb-3">
                    <div class="form-check form-check-reverse form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                               id="{{ 'input-' ~ name }}" {{ ' checked' if tracking[name] != 0 else '' }} {{ '' if tracking['tracking_date'] is available(name) else ' disabled'  }}>
                        <label class="form-check-label"
                               for="s{{ 'input-' ~ name }}">{{ title }}</label>
                    </div>
                </div>
            {% else %}
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="{{ 'input-' ~ name }}"
                           min="0" {{ '' if tracking[name] is fractional else ' step=' ~ "1" }}
                           inputmode="numeric" pattern="^\d*$"
                           value={{ tracking[name] }}>
                    <label for="{{ 'input-' ~ name }}">{{ title }}</label>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</form>
